.showcase {
  @include set-background-color($primary-color);
  height: 600px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;

      li {
        padding: 15px;

        &:last-child {
          padding-right: 0;
        }

        a {
          color: set-text-color($primary-color);
        }

        a:hover {
          color: $secondary-color;
        }
      }
    }
  }

  &-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }

    p {
      margin: 20px 0;
    }

    img {
      width: 50%;
    }
  }
}
