.showcase {
  background: $primary-color;
  color: #fff;
  height: 600px;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;

        li {
          padding: 15px;

          &:hover {
            border-bottom: 1px solid white;
          }
        }
      }
    }
  }
}
