@import "../style/config";
@import "../sass/_header";
@import "../style/utilities";
@import "../style/buttons";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
